# macOS cruft
.DS_Store
__MACOSX/
._*
# python
__pycache__/
*.pyc
# macOS cruft
.DS_Store
__MACOSX/
._*
# macOS cruft
.DS_Store
__MACOSX/
._*
# ignore macOS cruft
.DS_Store
__MACOSX/
._*
*.egg-info/
.pytest_cache/
rust/tritrpc_v1/target/
